::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(39, 38, 38);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.v-list-item__title,
.v-list-item__subtitle {
  text-overflow: initial;
  white-space: normal;
}

h2 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

@media (min-width: 938px) {
  body:after,
  body:before {
    -webkit-mask-box-image: url("/mask.svg");
  }

  body:after,
  body:before {
    display: block;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  body:after {
    content: "";
    background: linear-gradient(135deg, #ff7a18, #af002d 75%);
    z-index: 1;
  }
}
