:root {
  --dark-1: #121212;
  --dark-2: #1d1d1d;
  --dark-3: #292929;
  --dark-4: #000000;
  --dark-5: #616161;
  --dark-6: #dedede;
  --tiger-orange: #ff8a00;
  --navbar-height: 50px;
}

body:after,
body:before {
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 0,
    100% 53%,
    0 80%,
    0 83%,
    0 80%,
    0% 20%
  );
}

body:after,
body:before {
  display: block;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body:after {
  content: "";
  background: linear-gradient(135deg, #ff7a18, #af002d 75%);
  z-index: -1;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("fonts/proxima-nova-bold.eot");
  src: url("fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/proxima-nova-bold.woff") format("woff"),
    url("fonts/proxima-nova-bold.ttf") format("truetype"),
    url("fonts/proxima-nova-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("fonts/proxima-nova-regular.eot");
  src: url("fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/proxima-nova-regular.woff") format("woff"),
    url("fonts/proxima-nova-regular.ttf") format("truetype"),
    url("fonts/proxima-nova-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--dark-1);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "ProximaNovaRegular";
  color: var(--dark-6);
}

body {
  background-color: var(--dark-1);
}

.highlight-text {
  font-family: "ProximaNovaBold";
  color: white;
}

.navbar {
  height: var(--navbar-height);
  background-color: var(--dark-2);
}

.navbar-header {
  font-size: 1.6em;
  font-family: "ProximaNovaBold";
}

.gradient-text {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-container {
  margin-top: calc(var(--navbar-height) / 3);
}

.navbar-links img {
  cursor: pointer;
}

.navbar-links img:last-child {
  padding-left: 0.3em;
}

.navbar-links span {
  padding-right: 1.2em;
  cursor: pointer;
}

.navbar-links-collapsible span:nth-child(2n) {
  cursor: pointer;
  padding: 0.3em 0;
  background-color: #1c1b1b;
}

.navbar-links-collapsible span {
  cursor: pointer;
  padding: 0.3em 0;
  background-color: #151414;
}

.navbar-links-collapsible img {
  cursor: pointer;
}

.navbar-links-collapsible {
  display: flex;
  flex-direction: column;
}

#navbar-menu-collapsible-content {
  padding: 0;
  background-color: #0f0e0e;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: none;
  text-align: center;
}

.hashtag-visible {
  display: inline;
}

.hashtag-invisible {
  display: none;
}

.header-section-title-hashtag {
  font-size: 1.6em;
  font-family: "ProximaNovaBold";
  cursor: pointer;
  animation: fade-in 1.2s;
  color: var(--tiger-orange);
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.header-section-title {
  font-size: 2em;
  font-family: "ProximaNovaBold";
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-6);
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.header-section-title:hover {
  color: var(--dark-6);
}

.project-container {
  display: grid;
  grid-gap: 1.2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-2);
  border-radius: 8px;
  padding: 1.9em;
  user-select: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.project-card-title {
  font-size: 1.4em;
  font-family: "ProximaNovaBold";
  color: var(--tiger-orange);
}

.project-card-title-container {
  display: flex;
  justify-content: space-between;
  margin: 0.8em 0 1.6em 0;
}

.technologies-container span {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.project-card-content {
  margin-bottom: 1.6em;
}

.technologies-container {
  padding-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}

.technologies-container img {
  padding: 0.5em 0.5em 0.5em 0;
}

.project-card-actions img {
  padding: 0.5em 0.5em 0.5em 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(0.98);
}

.list-group-item-custom {
  background-color: var(--dark-3);
  padding: 1.2em;
  display: flex;
  width: 100%;
}

.list-group-item-custom-no-bg {
  padding: 1.2em;
  display: flex;
  width: 100%;
}

.list-group-item-custom-no-bg a {
  color: var(--dark-6);
  text-decoration: none;
}

.list-group-item-custom:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-group-item-custom:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-group-item-icon {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item-content {
  display: flex;
  flex-direction: column;
}

.list-group-item-custom:nth-child(2n) {
  background-color: var(--dark-2);
  padding: 1.2em;
}

.about-me-container {
  background-color: var(--dark-3);
  padding: 1.2em;
  border-radius: 8px;
  margin-bottom: 1.4em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
}

.about-me-container p {
  font-size: 1.1em;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  padding-left: 1.2em;
  justify-content: center;
}

.about-me-portrait img {
  max-height: 100%;
  height: 180px;
  border-radius: 8px;
}

.main-timeline {
  overflow: hidden;
  position: relative;
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--dark-5);
  position: absolute;
  top: 0;
  left: 50%;
}

.main-timeline .timeline {
  padding-right: 30px;
  position: relative;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline .timeline:last-child:before {
  top: auto;
  bottom: 0;
}

.main-timeline .timeline-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--dark-3);
  border: 2px solid #d6d5d5;
  box-sizing: content-box;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -4px;
}

.main-timeline .timeline-icon:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--dark-3);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .timeline-content {
  width: 46.5%;
  padding: 2em;
  margin: 0 20px 0 0;
  background: var(--dark-3);
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main-timeline .title {
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin: 0 20px 0 0;
  color: #ff8a00;
  cursor: pointer;
}

.main-timeline .post {
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-top: 6px;
}

.education-title {
  color: #ff8a00;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.showing {
  display: block !important;
}

.main-timeline .description {
  font-size: 12px;
  color: #7d7b7b;
  line-height: 24px;
  margin: 0;
  clear: both;
}

.main-timeline .timeline:nth-child(2n) {
  padding: 0 0 0 30px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  float: right;
  margin: 0 0 0 20px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after {
  border-left: none;
  border-right: 20px solid #f2f2f2;
  right: auto;
  left: -20px;
}

.main-container p {
  color: rgb(206, 203, 203);
}

#navbar-menu {
  display: none;
}

#navbar-actions-mobile {
  display: none;
}

#navbar-actions-mobile img {
  padding-right: 0.7em;
}

#fab {
  display: none;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .navbar-container {
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
  }

  #navbar-menu {
    display: inline;
  }

  #navbar-menu-collapsible-content {
    display: block;
  }

  #navbar-actions-mobile {
    display: inline;
  }

  .navbar-header {
    margin-left: 0.3em;
  }

  .about-me-container {
    background-color: var(--dark-2);
    padding: 1.2em;
    border-radius: 8px;
    margin-bottom: 1.4em;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .about-me-portrait {
    text-align: center;
  }

  .about-me-portrait img {
    height: 200px;
    border-radius: 8px;
  }

  .about-me-content {
    padding-left: 0;
  }

  .navbar-links {
    display: none;
  }

  .project-container {
    display: grid;
    grid-gap: 1.2em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .main-timeline:before {
    left: 10px;
  }

  .main-timeline .timeline {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
  }

  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }

  .main-timeline .timeline:first-child:before,
  .main-timeline .timeline:last-child:before {
    display: none;
  }

  .main-timeline .timeline-icon {
    margin: 0;
    position: absolute;
    top: 18px;
    left: 0;
  }

  .main-timeline .timeline-content {
    padding: 20px;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: auto;
    float: none;
    margin: 0 0 0 30px;
  }

  .main-timeline .timeline-content:after,
  .main-timeline .timeline:nth-child(2n) .timeline-content:after {
    border: none;
    border-bottom: 20px solid #f2f2f2;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -20px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 480px) {
  .main-timeline .title {
    float: none;
    margin: 0;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    margin-left: 10px;
  }

  .main-timeline .post {
    margin: 5px 0;
  }
}
