html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.theme--light.v-timeline:before {
  background: rgba(255, 255, 255, 0.171);
}

@media only screen and (max-width: 600px) {
  .theme--light.v-timeline:before {
    background: none;
  }
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
